<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in data %}
        <h1 style="color: red;">{{ i.title }}</h1>
        <h2 style="color: blue;">{{ i.description }}</h2>
        <h3 style="color: green;">{{ i.price }}{{ i.currency }}</h3>
        <img src="{{ i.photo.url }}" style="width: 150px; height: 150px;" alt="">
    {% endfor %}
    
</body>
</html>
